
body *{ font-family: Tahoma, sans-serif; margin-left:8px; margin-right:10px; }

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
    table-layout:fixed;
    width: 800px;
    text-align: left;
}
  
tr:nth-child(even) {
    background-color: #c3f3f8;
}

.box {
  display: flex;
  align-items:center;
}  

textarea  
{  
  font-family:"Tahoma", sans-serif;  
  font-size: 18px;   
}

a {
  margin-left: 0;margin-right: 0;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4fb5c0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
