{# templates/base-template.html #}

<!DOCTYPE html>

<html lang="en">
    <head>        
        <!-- meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/ -->
	    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>

    <body onload="hideLoader()">
        
    <div class="box">
        <img src="/static/utrlogo-left.png" height="60">
        <H1 style="margin-left:3px;margin-top:25px;">{{ header }}</H1><BR>      
    </div>

    <HR><BR>

    {% block body %}
    
    {% endblock body %}
      
    <div id="loader"></div>

    <script>
        
        function showLoader() {
            document.getElementById("loader").style.display = "block"; 
        }

        function hideLoader() {
            document.getElementById("loader").style.display = "none";
        }

        </script>

    </body>

</html>
