{# templates/main-page.html #}

{% extends 'base-template.html' %}

{% block body %}


  <TABLE class="two-column-table">
    <TR style="border:0">
      <TD style="text-align:center;height: 80px; background-color: white;border-style:hidden;"><button class="button" onclick="location.href='/search_players_by_name'">Search by Player Name</button></TD>
      <TD style="text-align:center;height: 80px; background-color: white;border-style:hidden;"><button class="button" onclick="location.href='/search_players_eventurl';">Search by Event URL</button></TD>
    </TR>
  </TABLE>

<BR><HR>
<BR>

  {% if playerlist == [] %}
    <BR>
    <pre>Players you follow will be displayed here.</pre>
  {% else %}
  <pre>You are following these players:</pre>
    <TABLE class="playerinfo-table">
      {% for player in playerlist %}
      <TR><TD><A HREF="/playerinfo?playerid={{ player[2] }}" style="text-decoration: none;cursor:pointer">{{ player[0] }}</A></TD><TD>{{ '%2.2f'| format(player[1]|float) }}</TD></TR>
      {% endfor %}
    </TABLE>
  {% endif %} 

<DIV style="position: fixed; bottom: 0; left: 0;">
This site is not affiliated to <A HREF="https://www.universaltennis.com/">UTR</A>.
<DIV>
<BR>

{% endblock body %}