{# templates/results.html #}

{% extends 'base-template.html' %}

{% block body %}

  <H3>{{ resultsheading }}</H3>

  <TABLE style="width:95%; max-width:800px;">  
    <TR style="height:30px">
      <TH style="width:2%;text-align: center;">#</TH>
      <TH style="width:5%;text-align: center;">UTR</TH>
      <TH style="width:20%;text-indent: 8px;">PLAYER NAME </TH>
      <TH style="width:16%">LOCATION</TH> 
    </TR>
    {% for player in playerlist %}
    <TR style="height:30px">
      <TD style="text-align: center;">{{ loop.index }}</TD>
      <TD style="text-align: center;">{{ '%0.2f'| format(player[2]|float) }} </TD>
      <TD style="text-align: left;"><A HREF="/playerinfo.html" style="text-decoration: none;cursor:pointer">{{ player[0] }}</A></TD>
      <TD>{{ player[1] }} </TD> 
    </TR>
  {% endfor %}
  </TABLE>

  {% endblock body %}