{# templates/results.html #}

{% extends 'base-template.html' %}

{% block body %}

<style>
  table {
    border-collapse: collapse;
    width:95%; 
    max-width:600px;
  }

  tr {
    height:30px;

  }
  td {
    width:50%;
    text-align: left;
  }
  </style>

<TABLE>
  <TR><TD>Singles UTR</TD><TD>{{ myUtrSinglesDisplay }}</TD></TR>
  <TR><TD>Doubles UTR</TD><TD> {{ myUtrDoublesDisplay }}</TD></TR>
  <TR><TD>Three Month Rating</TD><TD> {{ threeMonthRating }}</TD></TR>
  <TR><TD>Trend </TD><TD>{{ trend }}</TD></TR>

  <TR><TD>Gender </TD><TD>{{ gender }}</TD></TR>
  <TR><TD>Age Range </TD><TD>{{ ageRange }}</TD></TR>
  <TR><TD>Dominant Hand </TD><TD>{{ dominantHand }}</TD></TR>
  <TR><TD>Backhand </TD><TD>{{ backhand }}</TD></TR>
  <TR><TD>Home Club </TD><TD>{{ homeClub }}</TD></TR>
  <TR><TD>UTR Member ID (link)</TD><TD><A HREF="https://app.universaltennis.com/profiles/{{ playerid }}" target="_blank">{{ playerid }}</A></TD></TR>

</TABLE>

<BR><HR><BR>
<button onclick="displayjson()">Show JSON info for {{ displayName }}</button>
<BR><BR>

<div hidden id="playerjson">
  <pre>
    {{ playerinfo }}
  </pre>
</div>

<script>
  function displayjson() {
    var x = document.getElementById("playerjson");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock body %}