{# templates/searchplayerbynames.html #}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Player Search Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<div class="box">
  <img src="/static/utrlogo.png" height="60">
  <span><H1>{{ header }}</H1></span>
</div>
<HR><BR>

<form method="post" action="/search_player_names_post">
  <textarea name="playernamelist" id="comments" rows=16 cols=80></textarea><br><br>
  <input type="submit" value="Submit" />
</form>