{# templates/searchoptions.html #}

{% extends 'base-template.html' %}

{% block body %}

<form method="post" action="/navigate_search_selection">
  <input type="radio" name="searchoption" id="option1" value="searchbynamelist">
  <label for="option1">Search by entering player names</label><br>
  <input type="radio" name="searchoption" id="option2" value="searchbyurl" checked>
  <label for="option2">Search by entering a URL to tournament event (tournaments.tennis.com.au)</label><br>
  <input type="radio" name="searchoption" id="option3" value="searchplayerjson">
  <label for="option3">Dump JSON for a single player</label><br>
  
  <BR><HR><BR>

  <input type="submit" value="Submit" />
</form>

{% endblock body %}