{# templates/searchoptions.html #}

{% extends 'base-template.html' %}

{% block body %}

<form method="post" action="/navigate_search_selection">
  <input type="radio" name="searchoption" id="option1" value="searchbynamelist">
  <label for="option1">Player name(s)</label><br>
  <input type="radio" name="searchoption" id="option2" value="searchbyurl" checked>
  <label for="option2">Tournament event URL(AU)</label><br>
  <!-- We had JSON dump at the begining
    <input type="radio" name="searchoption" id="option3" value="searchplayerjson">
    <label for="option3">Dump JSON for a single player</label><br>
  -->
  
  <BR><HR><BR>

  <input type="submit" value="Submit" />
</form>
<BR>
<DIV style="position: fixed; bottom: 0; left: 0;">
This site is not affiliated to <A HREF="https://www.universaltennis.com/">UTR</A>.
<DIV>
<BR>

{% endblock body %}